<%- include('partials/head') %>

    <%- include('partials/navbar') %>

    <h1>Welcome to the home page <%= 3 + 5 + 2 %> </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nesciunt ea itaque quaerat iusto. Fugiat vero ipsam natus sapiente. Dolore accusamus, ratione error nisi autem rerum alias possimus nam minus!
    </p>
<%- include('partials/footer') %>